<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- <bean id="IocInterfaceImpl"
		class="cn.yesway.learn.SpringLearn.PartOne.Service.Impl.IocInterfaceImpl"></bean>
	<bean id="IocInterfaceSImpl"
		class="cn.yesway.learn.SpringLearn.PartOne.Service.Impl.IocInterfaceSImpl"></bean> -->

	<!-- 属性注入 -->
	<!-- <bean id="App" class="cn.yesway.learn.SpringLearn.PartOne.App">
		<property name="ioc" ref="IocInterfaceSImpl"></property>
	</bean> -->
	<!-- 构造注入 -->
	<!-- <bean id="App" class="cn.yesway.learn.SpringLearn.PartOne.App">
		<constructor-arg type="IocInterface" ref="IocInterfaceSImpl"></constructor-arg>
	</bean> -->

	<!-- 自动扫描 -->
	<context:component-scan base-package="cn.yesway.learn.SpringLearn.PartOne">
		<context:include-filter type="regex" expression="cn.yesway.learn.SpringLearn.PartOne.*"/>
	</context:component-scan>
</beans>